/* cyrillic-ext */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4taVIGxA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4kaVIGxA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4saVIGxA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4jaVIGxA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* hebrew */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4iaVIGxA.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* vietnamese */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4vaVIGxA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVIGxA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

 



/*other 
 /* Popup background */
 
 #ams-form-popup-wrap {
    background: rgba(125,126,127,0.89);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    color: #fff;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display: none;
	overflow:auto;
}

#ams-form-popup {
    background: rgba(0,0,0,0.0);
    position: relative;
}

#ams-form-popup-close {
    position: relative;
    cursor: pointer;
    font-size: 26px;
    font-weight:500;
    color:#006699;
    display:inline-block; vertical-align:top;
	margin-right: 12px;
	margin-bottom: 6px;
}

#ams_modal_box
{
    display: none;
}

#ams-form-popup,
.iframe_video {
    width: 650px;
    height: 450px;
}
.hidetextarea{
	display:none;
}
.detailedreason{
	width:100%;
	height:150px;
	border-radius:5px;
	margin-top:10px;
	margin-bottom: 20px;
}
/*Spinner Css*/

.spinner {
			display: none;
			visibility: visible;
			margin-left: 0;
			float: left;
			background-image: url(/wp-content/plugins/appmysite/assets/ams_spinner.gif)!important;
			margin: 1px 10px 0!important;
		}
/*Modal body color*/
 
 #ams_modal_box{background-color:rgba(255,255,255,.97);
  color:#000; box-shadow:0px 5px 15px 5px rgb(0 0 0 / 15%);border-radius: 3px;overflow: hidden;}
  
.modal-body {padding: 10px 25px;}
.modal-body h5{  font-size:18px;color:#444; margin:15px 0;}
     
/* Header CSS */

.modal-header{display: flex;justify-content: space-between;align-items: center; background-color:rgba(252,252,252,1); 
 padding:0; border-bottom:1px solid #ddd;}
 
.modal-header .modal-title{margin:0; color:#000; font-size:22px; font-weight:500;line-height:1.2; padding:20px 25px;}

.close-modal{border:1px solid #006699; padding:8px;}

.deactivation-error {margin: 0;margin-top: 25px;padding: 1rem;}
 
/*Checkbox CSS*/
.modal-body br{display:none;}
.deactivation-survey-form{padding:0;}

.deactivation-survey-form p,.deactivation-survey-form label{color:#000;}
.deactivation-survey-form label{  font-size:14px;   
      margin-bottom:10px;} 
.deactivation-survey-form div{
	margin-bottom: 15px;
}

.amsbottombuttons{display:flex; align-items:center;padding:5px 25px 21px;justify-content: space-between;}

/*Button Css*/

.amsbottombuttons .btn{background-color:transparent; border:1px solid #3582c4; color:#3582c4; font-size:14px; transition:all ease .3s;border-radius:5px; display:inline-block;padding:7px 12px;line-height:1.5; cursor:pointer;}

.amsbottombuttons .amssubmitbutton{background-color:#3582c4; border:1px solid transparent; color:rgba(255,255,255,.97);  margin-left:15px;}

/* mobile Landscape */
@media(max-width: 700px) {
    #ams-form-popup {
        width: 360px;
        height: auto;       
    }

    .iframe_video {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .modal-body h5 {
    font-size: 15px;
    color: #444;
    margin: 10px 0;
}

input[type=checkbox], input[type=radio]{
   
    height:1.2rem;
    width:1.2rem;
}
}


/*Mobile Potrait*/
@media(max-width:475px){
  
     input[type=checkbox], input[type=radio]{
   
    height:1.0rem;
    width:1.0rem;
}
	input[type=radio]:checked:before {
		margin: 0.1715rem!important;
	}
}

/*Small device*/

@media(max-width:360px){
  
      #ams-form-popup {
        width: 320px;
        height: auto;       
    }

}
